include README.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include LICENSE.md
include docs/CONTRIBUTORS.rst
include docs/COLLABORATORS.rst
include requirements.txt
exclude examples/*
exclude dev/*
exclude paper/*
